<!DOCTYPE html>
<html>
    <head>
        <title>Hello</title>
        <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
    </head>
    <body>
        <div class="container">
            <div class="jumbotron bg-white text-center">
                <h1 class="display-1">Hello</h1>
                <p class="lead">My name is John. I make computers do stuff.</p>
            </div>
            <div id="main">
                <ul class="list-group list-group-flush bg-light">
                    <li class="list-group-item text-center"><a href="https://www.linkedin.com/in/johnholmesyeg/">LinkedIn</a></li>
                    <li class="list-group-item text-center"><a href="https://github.com/pepper-roni">GitHub</a></li>
                    <li class="list-group-item text-center"><a href="https://twitter.com/johnholmesyeg">Twitter</a></li>
                </ul>
            </div>
            <div class="navbar bg-light fixed-bottom">
                <p>Edmonton is a city that is cold.</p>
            </div>
        </div>
    </body>
</html>