<!DOCTYPE html>
<html>
    <head>
        <title>Hello</title>
        <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
    </head>
    <body>
      <div class="jumbotron bg-white text-center">
          <h1>Hello</h1>
          <p class="lead">My name is John. I am a software developer based out of Edmonton, Alberta, Canada.</p>
      </div>
      <div class="container">
        <div class='row'>
          <div class="col-lg-6">
            <h2>My Work</h2>
            <p>Various projects I have worked on.</p>
          </div>
          <div class="col-lg-6">
            <h2>Contact</h2>
            <p>Say hello in whatever way is most convenient for you.</p>
            <ul class="list-group list-group-flush bg-light">
              <li class="list-group-item text-center"><a href="https://www.linkedin.com/in/johnholmesyeg/">LinkedIn</a></li>
              <li class="list-group-item text-center"><a href="https://github.com/pepper-roni">GitHub</a></li>
              <li class="list-group-item text-center"><a href="https://twitter.com/johnholmesyeg">Twitter</a></li>
            </ul>
          </div>
        </div>
      </div>
      <div class="navbar bg-light fixed-bottom">
        <p>Edmonton is a city that is cold.</p>
      </div>
    </body>
</html>