<div class="container">
  <div class="jumbotron bg-white text-center">
      <h1><b>John Holmes | Software Developer</b></h1>
      
  </div>
  <div class="d-flex">
    <ul class="list-inline mx-auto justify-content-center contact-links">
      <li class="list-inline-item text-center"><a href="https://www.linkedin.com/in/johnholmesyeg/"><i class="fab fa-linkedin"></i> LinkedIn</a></li>
      <li class="list-inline-item text-center"><a href="https://github.com/pepper-roni"><i class="fab fa-github"></i> GitHub</a></li>
      <li class="list-inline-item text-center"><a href="https://twitter.com/johnholmesyeg"><i class="fab fa-twitter"></i> Twitter</a></li>
      <li class="list-inline-item text-center"><%= link_to '<i class="fas fa-file"></i> Resume'.html_safe, resume_path %></li>
      <li class="list-inline-item text-center"><a href="#"><i class="fas fa-envelope"></i> E-mail</a></li>
    </u>
  </div>
  <div class="d-flex my-work">
    <div class="mx-auto">
      <h2>My Work</h2>
      <p>Various projects I have worked on. Which at the moment is evidently nothing.</p>
    </div>
  </div>
  </div>
  <div class="d-flex">
  <footer class="fixed-bottom text-center">
    <p class="text-muted">Edmonton is a city that is cold.</p>
  </footer>
</div>