<div class="container">
  <h1>Resume</h1>
  <p class="lead">I love learning new things which makes programming and computers so fascinating, there is always a new technology to learn, always a better way of doing things.</p>
  <h2>Work Experience</h2>
  <h2>My Skills</h2>
  <h3>Languages</h3>
  <ul>
    <li>Ruby (and it's best friend Rails)</li>
    <li>Javascirpt</li>
    <li>HTML5 & CSS3</li>
  </ul>
  <h3>Databases</h3>
  <ul>
    <li>Postgres</li>
    <li>MSSQL</li>
  </ul>
  <h3>Infrastructure</h3>
  <ul>
    <li>Docker</li>
  </ul>
</div>
