<div class="container">
  <h1 class="display-3">Resume</h1>
  <p class="lead">I love learning new things which makes programming and computers so fascinating, there is always a new technology to learn, always a better way of doing things.</p>
  <h2 class="border-bottom">Work Experience</h2><br>
  <h5>
    Software Developer
    <small class="text-muted">January 2019 - Present</small>
  </h5>
  <p>Working on the Yardstick Measure high stakes testing platform. Ruby, Rails, and AngularJS.</p>
  <h5>
    Quality Assurance
    <small class="text-muted">January 2015 - January 2019</small>
  </h5>
  <p>Involved with testing of Yardstick's three major software platforms.</p>
  <ul>
    <li>test automation with RSpec and Selenium</li>
    <li>deployment and release management</li>
  </ul>
  <h5>
    Customer Support Specialist
    <small class="text-muted">January 2012 - January 2015</small>
  </h5>
  <p>Client onboarding and high stakes administration support and QA.</p>
  <h2 class="border-bottom">My Skills</h2><br>
  <dl class="row">
    <dt class="col-sm-3">Ruby</dt>
    <dd class="col-sm-9">Along with it's best friend rails. I also have some light experience with C# and Adobe Coldfusion</dd>

    <dt class="col-sm-3">Javascript</dt>
    <dd class="col-sm-9">Experience with ES6, AngularJS and coffeescript.</dd>

    <dt class="col-sm-3">HTML & CSS</dt>
    <dd class="col-sm-9">Additionally some experience with Bootstrap and Sass.</dd>

    <dt class="col-sm-3">Databases</dt>
    <dd class="col-sm-9">Postgres and MS-SQL. Experience with Redis, MongoDB, and Elastic Search.</dd>

    <dt class="col-sm-3">Infrastructure</dt>
    <dd class="col-sm-9">Docker and some experience with Kubernetes.</dd>

    <dt class="col-sm-3">Tools</dt>
    <dd class="col-sm-9">Jira, Zendesk, Semaphore CI.</dd>
  </dl>
</div>
