<div class="container">
  <h1>Resume</h1>
  <p class="lead">I love learning new things which makes programming and computers so fascinating, there is always a new technology to learn, always a better way of doing things.</p>
  <h2>Work Experience</h2>
  <h4>
    Software Developer
    <small class="text-muted">Javuary 2019 - Present</small>
  </h4>
  <p>Working on the Yardstick Measure high stakes testing platform. Ruby, Rails, and AngularJS.</p>
  <h2>My Skills</h2>
  <dl class="row">
    <dt class="col-sm-3">Ruby</dt>
    <dd class="col-sm-9">Along with it's best friend rails.</dd>

    <dt class="col-sm-3">Javascript</dt>
    <dd class="col-sm-9">
      <p>Experience with base ES6, AngularJS and coffeescript.</p>
    </dd>

    <dt class="col-sm-3">HTML & CSS</dt>
    <dd class="col-sm-9">Additionally some experience with bootsrap and Sass.</dd>

    <dt class="col-sm-3">Databases</dt>
    <dd class="col-sm-9">Postgres and MS-SQL. Experience with Redis, MongoDB, and Elastic Search.</dd>

    <dt class="col-sm-3">Infrastructure</dt>
    <dd class="col-sm-9">Docker and some experience with Kubernetes</dd>
  </dl>
</div>
