// Place all the styles related to the hello controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

.contact-links {
  font-size: 20px;
}

.my-work {
  padding: 4rem 0;
}

footer {
  background-color: #ccc;
}
